{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido!!</title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/static/css/home.css"/>
</head>
<body>
    <h1 class ="Titulo">Friendly Route</h1>
    <div class="bloque1">
        <h2 style="text-align: center;">El tiempo</h2>
        <img src="static/images/Rectangle_3.png" alt="">
        <h3 style="text-align: center;"> Tienda de puntos</h3>
        <img src="static/images/Rectangle_4.png" alt="">
    </div>
    
    <div class="bloque2">
        <h2 style="text-align: center;">Ranking</h2>
        <ul>
            <li>Nombre: </li>
            <li>___________________&nbsp&nbsp</li>
            <li>Nombre: </li>
            <li>___________________&nbsp&nbsp</li>
            <li>Nombre: </li>
            <li>___________________&nbsp&nbsp</li>
            <li>Nombre: </li>
            <li>___________________&nbsp&nbsp</li>
            <li>Nombre: </li>
            <li>___________________&nbsp&nbsp</li>
        </ul>
    </div>

    {% if user.is_authenticated %}
    <div class="bloque3">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
        <script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>
        <link rel="stylesheet" type="text/css" href="/static/css/mapa.css">
        <div id="map"></div>
        <script src="/static/js/mapa.js"></script>
        <button type="submit"> <a href="/signout">Sign Out</a></button>
        <li>
            Que gusto verte denuevo!!
            <a href="@">{{ user.username }}</a>
        </li>
    </div>
    {% else %}
    <div class="blurry">
        <img src="static/images/Rectangle_2.png" alt="">
        <div>
            <button type="submit"> <a href="/signup">Sign Up</a></button>
            <button type="submit"> <a href="/accounts/login">Sign In</a></button>
        </div>
    </div>

    {% endif %}


    <div class="marcadores">
        <ul2 class="Lista_2">
            <li>Lime</li>
            <li>Ciclovias</li>
            <li>Bicicletas Itaú</li>
            <li>Paraderos de buses electricos</li>
            <li>Punto de carga autos electricos</li>
        </ul2> 
    </div>



</body>
</html>