{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="bloque">
        <form method="POST">
            {% csrf_token %}
                <div class="text-box">
                    <label for="nombre_usuario">Nombre de usuario:</label>
                </div>
                    <input type="text" name="nombre_usuario" required>
                <div class="text-box">
                    <label for="nombre">Nombre:</label>
                </div>
                    <input type="text" name="nombre" required>
                <div class="text-box">
                    <label for="email">Email:</label>
                </div>
                    <input type="text" name="email" required>
                <div class="text-box">
                    <label for="patente">Patente:</label>
                </div>
                    <input type="text" name="patente">
                <div class="btn">
                    <input type="submit" value="Login">
                </div>
        </form>
    </div>
</body>
</html>