html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #bdffff;
}
.text-box {
    box-shadow: none;
    outline: 0px;
    padding: 5px;
}
 body {
    align-content: normal;
    position: fixed;
    margin-left: 15%;
 }
 .bloque {
    padding: 20px;
    background: #84d5d8;
 }

 .btn {
    margin-top: 2%;
 }