<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso a la aplicacion</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">  
</head>
<body>

    <div class="container">
        <br>
        <br>
        <br>
        <div class="col-12 col-md-6 offset-md-3">

            <div class="card">
                <div class="card-body">
                    <h2>Ingresa tus credenciales</h2>
                    <hr>
                    <form action="" method="post">

                        {% csrf_token %}
                        {{form}}
                        <a href="{% url 'home' %}">Volver al sitio</a> |
                        <a href="/signup">Aun no tienes una cuenta? Registrate aqui</a> |

                        <input type="submit" value="Ingresar" class="btn btn-success float-right">
                    </form>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>