<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&family=Playpen+Sans:wght@200;400&family=Tilt+Neon&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/static/css/signup.css"/> 
</head>
<body>
    <h1>Registro</h1>
    <h2>
        <form action="/signup/" method="post">
        {% csrf_token %}
            <label for="">Nombre de usuario: </label>
            <input type="text" id="username" name="username" placeholder="Crear nombre de usuario" required>
            <br>
            <br>

            <label for="">Nombre: </label>
            <input type="text" id="nombre" name="nombre" placeholder="Como te llamas" required>
            <br>
            <br>

            <label for="">Patente: </label>
            <input type="text" id="patente" name="patente" placeholder="Ingresa tu patente (opcional)" blank = "True">
            <br>
            <br>

            <label for="">Correo electronico: </label>
            <input type="email" id="email" name="email" placeholder="Direccion de Correo electronico" required>
            <br>
            <br>

            <label for="">Contraseña: </label>
            <input type="password" id="pass1" name="pass1" placeholder="Contraseña" required>
            <br>
            <br>

            <label for="">Confirmar contraseña: </label>
            <input type="password" id="pass2" name="pass2" placeholder="Confirma tu Contraseña" required>
            <br>
            <br>
    </h2>
    <footer>
        <section>
            <a href="{% url 'home' %}">Volver al sitio</a> |
            <a href="/accounts/login">Inicia sesion</a>
            <button type="submit"> Sign UP</button>    
        <section>    
    </footer>
    </form>
</body>
</html>